<div class="hide">
    <span id="ns_button_common_open_dialog_word5"></span>
    <span id="ns_button_common_close_all"></span>
    <span id="ns_button_common_close"></span>
    <span id="ns_button_common_sub_close"></span>
</div>