<div class="warning_wrap"></div>

<div class="main_top_wrap">
    <div class="main_top_flex_column">
        <div class="main_top_sub">
            <div id="ns_button_main_lord_info" class="main_top_lord_face">
                <div class="lord_face"></div>
            </div>
            <div class="main_top_lord_info">
                <div class="lord_name"></div>
                <div class="ns_panel_basic main_top_resource">
                    <div class="lord_power"></div>
                    <div class="qbig_info_panel">
                        <span id="ns_button_main_buy_qbig"></span>
                        <span class="main_top_qbig">0</span>
                    </div>
                </div>
                <!-- span id="ns_button_main_buy_qbig" class="main_top_qbig_wrap">
                    <span class="icon qbig_icon"></span>
                </span -->
            </div>
            <div class="main_top_button_resource ns_panel_grid_3">
                <span id="ns_button_main_top_population"></span>
                <span id="ns_button_main_top_gold"></span>
                <span id="ns_button_main_top_iron"></span>
                <span id="ns_button_main_top_food"></span>
                <span id="ns_button_main_top_lumber"></span>
                <span id="ns_button_main_top_horse"></span>
            </div>
            <div class="main_top_sub_resource ns_panel_grid_3">
                <span class="main_top_population_idle">0</span>
                <span class="main_top_gold_curr">0</span>
                <span class="main_top_reso_iron_curr">0</span>
                <span class="main_top_reso_food_curr">0</span>
                <span class="main_top_reso_lumber_curr">0</span>
                <span class="main_top_reso_horse_curr">0</span>
            </div>
        </div>
    </div>
    <div class="main_top_chat_wrap">
        <span id="ns_button_main_top_chat"></span>
        <div>
            <span class="main_top_chat_message"></span>
            <!-- iv class="button_main_chat">채팅</div -->
        </div>
    </div>
</div>

<div class="main_top_button_wrap">
    <div class="main_top_left">
        <span id="ns_button_main_terr_info" class="main_button_icon"></span>
        <span id="ns_button_main_quest" class="main_button_icon"></span>
        <span id="ns_button_main_quest_view_01"><span class="quest_view_title"></span></span>
        <span id="ns_button_main_quest_view_02"></span>
        <span id="ns_button_main_quest_view_03"></span>
    </div>

    <div class="main_top_right">
        <span id="ns_button_main_magic_cube" class="main_button_icon"></span>
        <span id="ns_button_main_shop" class="main_button_icon"></span>
        <span id="ns_button_main_ranking" class="main_button_icon"></span>
    </div>

    <div class="main_top_right_sub">
        <span id="ns_button_main_package" class="main_button_icon"><span class="package_time"></span></span>
    </div>
</div>


<div class="main_bottom_button_wrap">
    <div class="main_bottom_left">
        <span id="ns_button_main_time_event" class="main_button_icon2"></span>
        <!-- span id="ns_button_main_npc_point" class="main_button_icon"></span -->
        <span id="ns_button_main_occupation_point" class="main_button_icon"></span>
        <span id="ns_button_main_hero_skill" class="main_button_icon"></span>
        <span id="ns_button_main_counter_job_list" class="main_button_icon"></span>
        <span id="ns_button_main_counter_troop_list" class="main_button_icon"></span>
    </div>


    <div class="main_bottom_right_sub">
        <span id="ns_button_main_build_move_cancel" class="main_button_icon"></span>
    </div>

    <div class="main_bottom_right">
        <span id="ns_button_main_pickup" class="main_button_icon"></span>
        <span id="ns_button_main_valley_manage" class="main_button_icon"></span>
        <span id="ns_button_main_territory_manage" class="main_button_icon"></span>
        <span id="ns_button_main_report" class="main_button_icon"></span>
        <span id="ns_button_main_menu" class="main_button_icon"></span>
    </div>
</div>


<div class="main_bottom_wrap">
    <!-- div class="main_bottom_bg"></div -->
    <div>
        <span id="ns_button_main_view_world" class="bottom_button_icon"></span>
        <span id="ns_button_main_hero_manage" class="bottom_button_icon"></span>
        <span id="ns_button_main_hero_combination" class="bottom_button_icon"></span>
        <span id="ns_button_main_alliance" class="bottom_button_icon"></span>
        <span id="ns_button_main_my_item" class="bottom_button_icon"></span>
    </div>
</div>

<div class="hero_deck_list_wrap hide_list">
    <div class="ns_panel_most ns_panel_trans_top">
        <span id="ns_button_hero_select_filter">-</span>
        <span id="ns_button_hero_select_filter_show_work">{{ i18n.t('on_duty') }}</span>
        <span id="ns_button_hero_select_filter_show_idle">{{ i18n.t('waiting') }}</span>
    </div>
    <div id="hero_deck_list"></div>
    <span id="ns_button_hero_deck_list"></span>
</div>

<div class="loading_progress"></div>