<div id="wrap_world">
    <div class="world_position_bar">
        <div class="world_position_left">
            <span id="ns_button_goto_search"></span>
        </div>
        <div class="world_position">
            <span id="ns_button_goto_map">0</span>
        </div>
        <div class="world_position_right">
            <span id="ns_button_favorite"></span>
        </div>
    </div>
    <div class="world_position_compass">
        <span class="world_position_arrow"></span>
        <span class="world_position_distance"></span>
        <span id="ns_button_goto_my_map"></span>
    </div>
    <div class="world_bg">
        <div class="world_troop"></div>
        <div class="world_map"></div>
    </div>
</div>