@charset "utf-8";

.item_box,
.reward_box,
.skill_box {
    position: relative;
    width: 155px;
    height: 93px;
    background: url('/image/ui/sub/item_box_bg.png') no-repeat;
    background-size: 155px 93px;
    margin-top: 3px;
    margin-left: 3px;
}

.item_box.sold_out::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 155px;
    height: 93px;
    background: url('/image/ui/sub/item_box_soldout.png') no-repeat;
    background-size: 155px 93px;
    margin-top: 3px;
    margin-left: 3px;
    content: ' ';
    z-index: 1;
}

.item_box *,
.reward_box *,
.skill_box * {
    pointer-events: none;
}

.item_box.empty,
.reward_box.empty,
.skill_box.empty {
    background: url('/image/ui/sub/item_box_empty_bg.png') no-repeat !important;
    background-size: 155px 93px !important;
}

.item_title,
.reward_title,
.skill_title {
    font-weight: bold;
    font-size: .75rem;
    color: #FFFFFF;
}

.item_image,
.reward_image,
.skill_image {
    position: relative;
    width: 45px;
    height: 45px;
    background-size: 45px 45px !important;
}

.item_count,
.reward_count,
.skill_count {
    font-size: .75rem;
    color: #FFF;
}

.skill_rare_type {
    width: 45px;
    height: 45px;
    background-size: 45px 45px !important;
}

.item_box .item_title {
    padding: 5px 10px 2px 15px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item_box .item_image {
    position: absolute;
    top: 33px;
    left: 13px;
}

.item_box .item_box_detail {
    position: absolute;
    right: 15px;
    top: 50px;
}

.resource_gold,
.resource_food,
.resource_horse,
.resource_lumber,
.resource_iron {
    position: relative;
    padding-left: 17px;
}

.resource_gold::before{
    position: absolute;
    width: 12px;
    height:12px;
    line-height: 12px;
    background-image:url('/image/icon/icon_small_gold.png');
    background-repeat:no-repeat;
    background-size:12px 12px;
    left: 2px;
    top: 2px;
    content: ' ';
}

.resource_food::before {
    position: absolute;
    width: 12px;
    height:12px;
    line-height: 12px;
    background-image:url('/image/icon/icon_small_food.png');
    background-repeat:no-repeat;
    background-size:12px 12px;
    left: 2px;
    top: 2px;
    content: ' ';
}

.resource_horse::before {
    position: absolute;
    width: 12px;
    height:12px;
    line-height: 12px;
    background-image:url('/image/icon/icon_small_horse.png');
    background-repeat:no-repeat;
    background-size:12px 12px;
    left: 2px;
    top: 2px;
    content: ' ';
}

.resource_lumber::before {
    position: absolute;
    width: 12px;
    height:12px;
    line-height: 12px;
    background-image:url('/image/icon/icon_small_lumber.png');
    background-repeat:no-repeat;
    background-size:12px 12px;
    left: 2px;
    top: 2px;
    content: ' ';
}

.resource_iron::before {
    position: absolute;
    width: 12px;
    height:12px;
    line-height: 12px;
    background-image:url('/image/icon/icon_small_iron.png');
    background-repeat:no-repeat;
    background-size:12px 12px;
    left: 2px;
    top: 2px;
    content: ' ';
}

.item_box .item_price {
    text-align: right;
}

.item_box .qbig_amount,
#ns_dialog_build_Market_buy .qbig_amount {
    display: inline-block;
    padding-left:17px;
    height:17px;
    line-height: 17px;
    background:url('/image/icon/icon_qbig.png') no-repeat;
    background-size:17px 17px;
    color:#8871FF;
    font-weight:bold;
}

/* label */
.item_label::after {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    content: " ";
}

.item_label.event::after {
    background-image: url('/image/icon/item_label_event.png');
}

.item_label.hot::after {
    background-image: url('/image/icon/item_label_hot.png');
}

.item_label.new::after {
    background-image: url('/image/icon/item_label_new.png');
}

.item_label.best::after {
    background-image: url('/image/icon/item_label_best.png');
}

.item_label.sale::after {
    background-image: url('/image/icon/item_label_sale.png');
}

.item_label.sale10::after {
    background-image: url('/image/icon/item_label_sale10.png');
}

.item_label.sale20::after {
    background-image: url('/image/icon/item_label_sale20.png');
}

.item_label.sale30::after {
    background-image: url('/image/icon/item_label_sale30.png');
}

.item_label.sale40::after {
    background-image: url('/image/icon/item_label_sale40.png');
}

.item_label.sale50::after {
    background-image: url('/image/icon/item_label_sale50.png');
}

.item_label.sale60::after {
    background-image: url('/image/icon/item_label_sale60.png');
}

.item_label.sale70::after {
    background-image: url('/image/icon/item_label_sale70.png');
}

.item_label.sale80::after {
    background-image: url('/image/icon/item_label_sale80.png');
}

.item_label.sale90::after {
    background-image: url('/image/icon/item_label_sale90.png');
}


/* item background */
.item_image_500001 { background: url('/image/m_/500001.png') no-repeat; }
.item_image_500002 { background: url('/image/m_/500002.png') no-repeat; }
.item_image_500003 { background: url('/image/m_/500003.png') no-repeat; }
.item_image_500004 { background: url('/image/m_/500004.png') no-repeat; }
.item_image_500005 { background: url('/image/m_/500005.png') no-repeat; }
.item_image_500006 { background: url('/image/m_/500006.png') no-repeat; }
.item_image_500007 { background: url('/image/m_/500007.png') no-repeat; }
.item_image_500008 { background: url('/image/m_/500008.png') no-repeat; }
.item_image_500009 { background: url('/image/m_/500009.png') no-repeat; }
.item_image_500010 { background: url('/image/m_/500010.png') no-repeat; }
.item_image_500011 { background: url('/image/m_/500011.png') no-repeat; }
.item_image_500012 { background: url('/image/m_/500012.png') no-repeat; }
.item_image_500013 { background: url('/image/m_/500013.png') no-repeat; }
.item_image_500014 { background: url('/image/m_/500014.png') no-repeat; }
.item_image_500015 { background: url('/image/m_/500015.png') no-repeat; }
.item_image_500016 { background: url('/image/m_/500016.png') no-repeat; }
.item_image_500017 { background: url('/image/m_/500017.png') no-repeat; }
.item_image_500018 { background: url('/image/m_/500018.png') no-repeat; }
.item_image_500019 { background: url('/image/m_/500019.png') no-repeat; }
.item_image_500020 { background: url('/image/m_/500020.png') no-repeat; }
.item_image_500021 { background: url('/image/m_/500021.png') no-repeat; }
.item_image_500022 { background: url('/image/m_/500022.png') no-repeat; }
.item_image_500023 { background: url('/image/m_/500023.png') no-repeat; }
.item_image_500024 { background: url('/image/m_/500024.png') no-repeat; }
.item_image_500025 { background: url('/image/m_/500025.png') no-repeat; }
.item_image_500026 { background: url('/image/m_/500026.png') no-repeat; }
.item_image_500027 { background: url('/image/m_/500027.png') no-repeat; }
.item_image_500028 { background: url('/image/m_/500028.png') no-repeat; }
.item_image_500029 { background: url('/image/m_/500029.png') no-repeat; }
.item_image_500030 { background: url('/image/m_/500030.png') no-repeat; }
.item_image_500031 { background: url('/image/m_/500031.png') no-repeat; }
.item_image_500032 { background: url('/image/m_/500032.png') no-repeat; }
.item_image_500033 { background: url('/image/m_/500033.png') no-repeat; }
.item_image_500034 { background: url('/image/m_/500034.png') no-repeat; }
.item_image_500035 { background: url('/image/m_/500035.png') no-repeat; }
.item_image_500036 { background: url('/image/m_/500036.png') no-repeat; }
.item_image_500037 { background: url('/image/m_/500037.png') no-repeat; }
.item_image_500038 { background: url('/image/m_/500038.png') no-repeat; }
.item_image_500039 { background: url('/image/m_/500039.png') no-repeat; }
.item_image_500040 { background: url('/image/m_/500040.png') no-repeat; }
.item_image_500041 { background: url('/image/m_/500041.png') no-repeat; }
.item_image_500042 { background: url('/image/m_/500042.png') no-repeat; }
.item_image_500043 { background: url('/image/m_/500043.png') no-repeat; }
.item_image_500044 { background: url('/image/m_/500044.png') no-repeat; }
.item_image_500045 { background: url('/image/m_/500045.png') no-repeat; }
.item_image_500046 { background: url('/image/m_/500046.png') no-repeat; }
.item_image_500047 { background: url('/image/m_/500047.png') no-repeat; }
.item_image_500048 { background: url('/image/m_/500048.png') no-repeat; }
.item_image_500049 { background: url('/image/m_/500049.png') no-repeat; }
.item_image_500050 { background: url('/image/m_/500050.png') no-repeat; }
.item_image_500051 { background: url('/image/m_/500051.png') no-repeat; }
.item_image_500052 { background: url('/image/m_/500052.png') no-repeat; }
.item_image_500053 { background: url('/image/m_/500053.png') no-repeat; }
.item_image_500054 { background: url('/image/m_/500054.png') no-repeat; }
.item_image_500055 { background: url('/image/m_/500055.png') no-repeat; }
.item_image_500056 { background: url('/image/m_/500056.png') no-repeat; }
.item_image_500057 { background: url('/image/m_/500057.png') no-repeat; }
.item_image_500058 { background: url('/image/m_/500058.png') no-repeat; }
.item_image_500059 { background: url('/image/m_/500059.png') no-repeat; }
.item_image_500060 { background: url('/image/m_/500060.png') no-repeat; }
.item_image_500061 { background: url('/image/m_/500061.png') no-repeat; }
.item_image_500062 { background: url('/image/m_/500062.png') no-repeat; }
.item_image_500063 { background: url('/image/m_/500063.png') no-repeat; }
.item_image_500064 { background: url('/image/m_/500064.png') no-repeat; }
.item_image_500065 { background: url('/image/m_/500065.png') no-repeat; }
.item_image_500066 { background: url('/image/m_/500066.png') no-repeat; }
.item_image_500067 { background: url('/image/m_/500067.png') no-repeat; }
.item_image_500068 { background: url('/image/m_/500068.png') no-repeat; }
.item_image_500069 { background: url('/image/m_/500069.png') no-repeat; }
.item_image_500070 { background: url('/image/m_/500070.png') no-repeat; }
.item_image_500071 { background: url('/image/m_/500071.png') no-repeat; }
.item_image_500072 { background: url('/image/m_/500072.png') no-repeat; }
.item_image_500073 { background: url('/image/m_/500073.png') no-repeat; }
.item_image_500074 { background: url('/image/m_/500074.png') no-repeat; }
.item_image_500075 { background: url('/image/m_/500075.png') no-repeat; }
.item_image_500076 { background: url('/image/m_/500076.png') no-repeat; }
.item_image_500077 { background: url('/image/m_/500077.png') no-repeat; }
.item_image_500078 { background: url('/image/m_/500078.png') no-repeat; }
.item_image_500079 { background: url('/image/m_/500079.png') no-repeat; }
.item_image_500080 { background: url('/image/m_/500080.png') no-repeat; }
.item_image_500081 { background: url('/image/m_/500081.png') no-repeat; }
.item_image_500082 { background: url('/image/m_/500082.png') no-repeat; }
.item_image_500083 { background: url('/image/m_/500083.png') no-repeat; }
.item_image_500084 { background: url('/image/m_/500084.png') no-repeat; }
.item_image_500085 { background: url('/image/m_/500085.png') no-repeat; }
.item_image_500086 { background: url('/image/m_/500086.png') no-repeat; }
.item_image_500087 { background: url('/image/m_/500087.png') no-repeat; }
.item_image_500088 { background: url('/image/m_/500088.png') no-repeat; }
.item_image_500089 { background: url('/image/m_/500089.png') no-repeat; }
.item_image_500090 { background: url('/image/m_/500090.png') no-repeat; }
.item_image_500091 { background: url('/image/m_/500091.png') no-repeat; }
.item_image_500092 { background: url('/image/m_/500092.png') no-repeat; }
.item_image_500093 { background: url('/image/m_/500093.png') no-repeat; }
.item_image_500094 { background: url('/image/m_/500094.png') no-repeat; }
.item_image_500095 { background: url('/image/m_/500095.png') no-repeat; }
.item_image_500096 { background: url('/image/m_/500096.png') no-repeat; }
.item_image_500097 { background: url('/image/m_/500097.png') no-repeat; }
.item_image_500098 { background: url('/image/m_/500098.png') no-repeat; }
.item_image_500099 { background: url('/image/m_/500099.png') no-repeat; }
.item_image_500100 { background: url('/image/m_/500100.png') no-repeat; }
.item_image_500101 { background: url('/image/m_/500101.png') no-repeat; }
.item_image_500102 { background: url('/image/m_/500102.png') no-repeat; }
.item_image_500103 { background: url('/image/m_/500103.png') no-repeat; }
.item_image_500104 { background: url('/image/m_/500104.png') no-repeat; }
.item_image_500109 { background: url('/image/m_/500109.png') no-repeat; }
.item_image_500110 { background: url('/image/m_/500110.png') no-repeat; }
.item_image_500111 { background: url('/image/m_/500111.png') no-repeat; }
.item_image_500112 { background: url('/image/m_/500112.png') no-repeat; }
.item_image_500113 { background: url('/image/m_/500113.png') no-repeat; }

.item_image_500114 { background: url('/image/m_/500114.png') no-repeat; }
.item_image_500115 { background: url('/image/m_/500115.png') no-repeat; }
.item_image_500116 { background: url('/image/m_/500116.png') no-repeat; }
.item_image_500117 { background: url('/image/m_/500117.png') no-repeat; }
.item_image_500118 { background: url('/image/m_/500118.png') no-repeat; }
.item_image_500119 { background: url('/image/m_/500119.png') no-repeat; }
.item_image_500120 { background: url('/image/m_/500120.png') no-repeat; }
.item_image_500121 { background: url('/image/m_/500121.png') no-repeat; }

.item_image_500122 { background: url('/image/m_/500122.png') no-repeat; }
.item_image_500123 { background: url('/image/m_/500123.png') no-repeat; }
.item_image_500124 { background: url('/image/m_/500124.png') no-repeat; }

.item_image_500125 { background: url('/image/m_/500125.png') no-repeat; }
.item_image_500126 { background: url('/image/m_/500126.png') no-repeat; }
.item_image_500127 { background: url('/image/m_/500127.png') no-repeat; }
.item_image_500128 { background: url('/image/m_/500128.png') no-repeat; }
.item_image_500129 { background: url('/image/m_/500129.png') no-repeat; }
.item_image_500130 { background: url('/image/m_/500130.png') no-repeat; }

.item_image_500131 { background: url('/image/m_/500131.png') no-repeat; }
.item_image_500132 { background: url('/image/m_/500132.png') no-repeat; }
.item_image_500133 { background: url('/image/m_/500133.png') no-repeat; }
.item_image_500134 { background: url('/image/m_/500134.png') no-repeat; }
.item_image_500135 { background: url('/image/m_/500135.png') no-repeat; }
.item_image_500136 { background: url('/image/m_/500136.png') no-repeat; }

.item_image_500137 { background: url('/image/m_/500137.png') no-repeat; }
.item_image_500138 { background: url('/image/m_/500138.png') no-repeat; }
.item_image_500139 { background: url('/image/m_/500139.png') no-repeat; }
.item_image_500140 { background: url('/image/m_/500140.png') no-repeat; }
.item_image_500141 { background: url('/image/m_/500141.png') no-repeat; }
.item_image_500142 { background: url('/image/m_/500142.png') no-repeat; }
.item_image_500143 { background: url('/image/m_/500143.png') no-repeat; }
.item_image_500144 { background: url('/image/m_/500144.png') no-repeat; }
.item_image_500145 { background: url('/image/m_/500145.png') no-repeat; }
.item_image_500146 { background: url('/image/m_/500146.png') no-repeat; }
.item_image_500147 { background: url('/image/m_/500147.png') no-repeat; }
.item_image_500148 { background: url('/image/m_/500148.png') no-repeat; }
.item_image_500149 { background: url('/image/m_/500149.png') no-repeat; }
.item_image_500150 { background: url('/image/m_/500150.png') no-repeat; }
.item_image_500151 { background: url('/image/m_/500151.png') no-repeat; }
.item_image_500152 { background: url('/image/m_/500152.png') no-repeat; }
.item_image_500153 { background: url('/image/m_/500153.png') no-repeat; }
.item_image_500154 { background: url('/image/m_/500154.png') no-repeat; }
.item_image_500155 { background: url('/image/m_/500155.png') no-repeat; }
.item_image_500156 { background: url('/image/m_/500156.png') no-repeat; }
.item_image_500157 { background: url('/image/m_/500157.png') no-repeat; }
.item_image_500158 { background: url('/image/m_/500158.png') no-repeat; }
.item_image_500159 { background: url('/image/m_/500159.png') no-repeat; }
.item_image_500160 { background: url('/image/m_/500160.png') no-repeat; }
.item_image_500161 { background: url('/image/m_/500161.png') no-repeat; }
.item_image_500162 { background: url('/image/m_/500162.png') no-repeat; }
.item_image_500163 { background: url('/image/m_/500163.png') no-repeat; }
.item_image_500164 { background: url('/image/m_/500164.png') no-repeat; }
.item_image_500165 { background: url('/image/m_/500165.png') no-repeat; }
.item_image_500166 { background: url('/image/m_/500166.png') no-repeat; }
.item_image_500167 { background: url('/image/m_/500167.png') no-repeat; }
.item_image_500168 { background: url('/image/m_/500168.png') no-repeat; }
.item_image_500169 { background: url('/image/m_/500169.png') no-repeat; }
.item_image_500170 { background: url('/image/m_/500170.png') no-repeat; }
.item_image_500171 { background: url('/image/m_/500171.png') no-repeat; }
.item_image_500172 { background: url('/image/m_/500172.png') no-repeat; }
.item_image_500173 { background: url('/image/m_/500173.png') no-repeat; }
.item_image_500174 { background: url('/image/m_/500174.png') no-repeat; }
.item_image_500177 { background: url('/image/m_/500177.png') no-repeat; }
.item_image_500178 { background: url('/image/m_/500178.png') no-repeat; }
.item_image_500179 { background: url('/image/m_/500179.png') no-repeat; }
.item_image_500180 { background: url('/image/m_/500180.png') no-repeat; }
.item_image_500181 { background: url('/image/m_/500181.png') no-repeat; }
.item_image_500182 { background: url('/image/m_/500182.png') no-repeat; }
.item_image_500183 { background: url('/image/m_/500183.png') no-repeat; }
.item_image_500184 { background: url('/image/m_/500184.png') no-repeat; }
.item_image_500185 { background: url('/image/m_/500185.png') no-repeat; }
.item_image_500186 { background: url('/image/m_/500186.png') no-repeat; }
.item_image_500187 { background: url('/image/m_/500187.png') no-repeat; }
.item_image_500188 { background: url('/image/m_/500188.png') no-repeat; }
.item_image_500189 { background: url('/image/m_/500189.png') no-repeat; }
.item_image_500190 { background: url('/image/m_/500190.png') no-repeat; }
.item_image_500191 { background: url('/image/m_/500191.png') no-repeat; }
.item_image_500192 { background: url('/image/m_/500192.png') no-repeat; }
.item_image_500193 { background: url('/image/m_/500193.png') no-repeat; }
.item_image_500194 { background: url('/image/m_/500194.png') no-repeat; }
.item_image_500195 { background: url('/image/m_/500195.png') no-repeat; }
.item_image_500196 { background: url('/image/m_/500196.png') no-repeat; }
.item_image_500197 { background: url('/image/m_/500197.png') no-repeat; }
.item_image_500198 { background: url('/image/m_/500198.png') no-repeat; }
.item_image_500199 { background: url('/image/m_/500199.png') no-repeat; }
.item_image_500204 { background: url('/image/m_/500204.png') no-repeat; }
.item_image_500219 { background: url('/image/m_/500219.png') no-repeat; }
.item_image_500220 { background: url('/image/m_/500220.png') no-repeat; }

.item_image_500212 { background: url('/image/m_/500212.png') no-repeat; }
.item_image_500213 { background: url('/image/m_/500213.png') no-repeat; }
.item_image_500214 { background: url('/image/m_/500214.png') no-repeat; }
.item_image_500215 { background: url('/image/m_/500215.png') no-repeat; }
.item_image_500216 { background: url('/image/m_/500216.png') no-repeat; }
.item_image_500217 { background: url('/image/m_/500217.png') no-repeat; }
.item_image_500218 { background: url('/image/m_/500218.png') no-repeat; }

.item_image_500222 { background: url('/image/m_/500222.png') no-repeat; }
.item_image_500223 { background: url('/image/m_/500223.png') no-repeat; }
.item_image_500224 { background: url('/image/m_/500224.png') no-repeat; }
.item_image_500225 { background: url('/image/m_/500225.png') no-repeat; }
.item_image_500226 { background: url('/image/m_/500226.png') no-repeat; }
.item_image_500227 { background: url('/image/m_/500227.png') no-repeat; }
.item_image_500228 { background: url('/image/m_/500228.png') no-repeat; }
.item_image_500229 { background: url('/image/m_/500229.png') no-repeat; }
.item_image_500230 { background: url('/image/m_/500230.png') no-repeat; }
.item_image_500231 { background: url('/image/m_/500231.png') no-repeat; }
.item_image_500232 { background: url('/image/m_/500232.png') no-repeat; }
.item_image_500233 { background: url('/image/m_/500233.png') no-repeat; }
.item_image_500234 { background: url('/image/m_/500234.png') no-repeat; }
.item_image_500235 { background: url('/image/m_/500235.png') no-repeat; }
.item_image_500236 { background: url('/image/m_/500236.png') no-repeat; }
.item_image_500237 { background: url('/image/m_/500237.png') no-repeat; }
.item_image_500238 { background: url('/image/m_/500238.png') no-repeat; }
.item_image_500239 { background: url('/image/m_/500239.png') no-repeat; }
.item_image_500240 { background: url('/image/m_/500240.png') no-repeat; }
.item_image_500241 { background: url('/image/m_/500241.png') no-repeat; }
.item_image_500242 { background: url('/image/m_/500242.png') no-repeat; }
.item_image_500243 { background: url('/image/m_/500243.png') no-repeat; }
.item_image_500244 { background: url('/image/m_/500244.png') no-repeat; }
.item_image_500245 { background: url('/image/m_/500245.png') no-repeat; }
.item_image_500246 { background: url('/image/m_/500246.png') no-repeat; }
.item_image_500247 { background: url('/image/m_/500247.png') no-repeat; }
.item_image_500248 { background: url('/image/m_/500248.png') no-repeat; }
.item_image_500249 { background: url('/image/m_/500249.png') no-repeat; }
.item_image_500250 { background: url('/image/m_/500250.png') no-repeat; }
.item_image_500251 { background: url('/image/m_/500251.png') no-repeat; }
.item_image_500252 { background: url('/image/m_/500252.png') no-repeat; }
.item_image_500253 { background: url('/image/m_/500253.png') no-repeat; }
.item_image_500254 { background: url('/image/m_/500254.png') no-repeat; }
.item_image_500255 { background: url('/image/m_/500255.png') no-repeat; }
.item_image_500256 { background: url('/image/m_/500256.png') no-repeat; }
.item_image_500257 { background: url('/image/m_/500257.png') no-repeat; }
.item_image_500258 { background: url('/image/m_/500258.png') no-repeat; }
.item_image_500259 { background: url('/image/m_/500259.png') no-repeat; }
.item_image_500260 { background: url('/image/m_/500260.png') no-repeat; }
.item_image_500261 { background: url('/image/m_/500261.png') no-repeat; }
.item_image_500262 { background: url('/image/m_/500262.png') no-repeat; }
.item_image_500263 { background: url('/image/m_/500263.png') no-repeat; }
.item_image_500264 { background: url('/image/m_/500264.png') no-repeat; }
.item_image_500265 { background: url('/image/m_/500265.png') no-repeat; }
.item_image_500266 { background: url('/image/m_/500266.png') no-repeat; }
.item_image_500267 { background: url('/image/m_/500267.png') no-repeat; }
.item_image_500268 { background: url('/image/m_/500268.png') no-repeat; }
.item_image_500269 { background: url('/image/m_/500269.png') no-repeat; }
.item_image_500270 { background: url('/image/m_/500270.png') no-repeat; }
.item_image_500271 { background: url('/image/m_/500271.png') no-repeat; }
.item_image_500272 { background: url('/image/m_/500272.png') no-repeat; }
.item_image_500273 { background: url('/image/m_/500273.png') no-repeat; }
.item_image_500274 { background: url('/image/m_/500274.png') no-repeat; }
.item_image_500275 { background: url('/image/m_/500275.png') no-repeat; }
.item_image_500276 { background: url('/image/m_/500276.png') no-repeat; }
.item_image_500277 { background: url('/image/m_/500277.png') no-repeat; }
.item_image_500278 { background: url('/image/m_/500278.png') no-repeat; }
.item_image_500279 { background: url('/image/m_/500279.png') no-repeat; }
.item_image_500280 { background: url('/image/m_/500280.png') no-repeat; }
.item_image_500281 { background: url('/image/m_/500281.png') no-repeat; }
.item_image_500282 { background: url('/image/m_/500282.png') no-repeat; }

.item_image_500383 { background: url('/image/m_/500383.png') no-repeat; }
.item_image_500384 { background: url('/image/m_/500384.png') no-repeat; }
.item_image_500385 { background: url('/image/m_/500385.png') no-repeat; }
.item_image_500386 { background: url('/image/m_/500386.png') no-repeat; }
.item_image_500387 { background: url('/image/m_/500387.png') no-repeat; }
.item_image_500388 { background: url('/image/m_/500388.png') no-repeat; }
.item_image_500389 { background: url('/image/m_/500389.png') no-repeat; }
.item_image_500390 { background: url('/image/m_/500390.png') no-repeat; }
.item_image_500391 { background: url('/image/m_/500391.png') no-repeat; }
.item_image_500392 { background: url('/image/m_/500392.png') no-repeat; }
.item_image_500393 { background: url('/image/m_/500393.png') no-repeat; }
.item_image_500394 { background: url('/image/m_/500394.png') no-repeat; }
.item_image_500395 { background: url('/image/m_/500395.png') no-repeat; }
.item_image_500396 { background: url('/image/m_/500396.png') no-repeat; }
.item_image_500397 { background: url('/image/m_/500397.png') no-repeat; }
.item_image_500398 { background: url('/image/m_/500398.png') no-repeat; }
.item_image_500399 { background: url('/image/m_/500399.png') no-repeat; }

.item_image_500400 { background: url('/image/m_/500400.png') no-repeat; }
.item_image_500401 { background: url('/image/m_/500401.png') no-repeat; }
.item_image_500402 { background: url('/image/m_/500402.png') no-repeat; }
.item_image_500403 { background: url('/image/m_/500403.png') no-repeat; }
.item_image_500404 { background: url('/image/m_/500404.png') no-repeat; }
.item_image_500405 { background: url('/image/m_/500405.png') no-repeat; }
.item_image_500406 { background: url('/image/m_/500406.png') no-repeat; }
.item_image_500407 { background: url('/image/m_/500407.png') no-repeat; }
.item_image_500408 { background: url('/image/m_/500408.png') no-repeat; }

.item_image_500408 { background: url('/image/m_/500408.png') no-repeat; }
.item_image_500409 { background: url('/image/m_/500409.png') no-repeat; }
.item_image_500410 { background: url('/image/m_/500410.png') no-repeat; }
.item_image_500411 { background: url('/image/m_/500411.png') no-repeat; }
.item_image_500412 { background: url('/image/m_/500412.png') no-repeat; }
.item_image_500413 { background: url('/image/m_/500413.png') no-repeat; }
.item_image_500414 { background: url('/image/m_/500414.png') no-repeat; }
.item_image_500415 { background: url('/image/m_/500415.png') no-repeat; }
.item_image_500416 { background: url('/image/m_/500416.png') no-repeat; }
.item_image_500417 { background: url('/image/m_/500417.png') no-repeat; }

.item_image_500418 { background: url('/image/m_/500418.png') no-repeat; }
.item_image_500419 { background: url('/image/m_/500419.png') no-repeat; }
.item_image_500420 { background: url('/image/m_/500420.png') no-repeat; }
.item_image_500421 { background: url('/image/m_/500421.png') no-repeat; }
.item_image_500422 { background: url('/image/m_/500422.png') no-repeat; }
.item_image_500423 { background: url('/image/m_/500423.png') no-repeat; }
.item_image_500424 { background: url('/image/m_/500424.png') no-repeat; }
.item_image_500425 { background: url('/image/m_/500425.png') no-repeat; }
.item_image_500426 { background: url('/image/m_/500426.png') no-repeat; }
.item_image_500427 { background: url('/image/m_/500427.png') no-repeat; }
.item_image_500428 { background: url('/image/m_/500428.png') no-repeat; }
.item_image_500429 { background: url('/image/m_/500429.png') no-repeat; }
.item_image_500430 { background: url('/image/m_/500430.png') no-repeat; }
.item_image_500431 { background: url('/image/m_/500431.png') no-repeat; }
.item_image_500432 { background: url('/image/m_/500432.png') no-repeat; }
.item_image_500433 { background: url('/image/m_/500433.png') no-repeat; }
.item_image_500434 { background: url('/image/m_/500434.png') no-repeat; }
.item_image_500435 { background: url('/image/m_/500435.png') no-repeat; }
.item_image_500436 { background: url('/image/m_/500436.png') no-repeat; }
.item_image_500437 { background: url('/image/m_/500437.png') no-repeat; }
.item_image_500438 { background: url('/image/m_/500438.png') no-repeat; }

.item_image_500439 { background: url('/image/m_/500439.png') no-repeat; }
.item_image_500440 { background: url('/image/m_/500440.png') no-repeat; }

.item_image_500441 { background: url('/image/m_/500441.png') no-repeat; }
.item_image_500442 { background: url('/image/m_/500442.png') no-repeat; }
.item_image_500443 { background: url('/image/m_/500443.png') no-repeat; }
.item_image_500444 { background: url('/image/m_/500444.png') no-repeat; }
.item_image_500445 { background: url('/image/m_/500445.png') no-repeat; }
.item_image_500446 { background: url('/image/m_/500446.png') no-repeat; }
.item_image_500447 { background: url('/image/m_/500447.png') no-repeat; }
.item_image_500479 { background: url('/image/m_/500479.png') no-repeat; }
.item_image_500480 { background: url('/image/m_/500480.png') no-repeat; }
.item_image_500481 { background: url('/image/m_/500481.png') no-repeat; }

.item_image_500448 { background: url('/image/m_/500448.png') no-repeat; }
.item_image_500449 { background: url('/image/m_/500449.png') no-repeat; }
.item_image_500450 { background: url('/image/m_/500450.png') no-repeat; }
.item_image_500451 { background: url('/image/m_/500451.png') no-repeat; }
.item_image_500452 { background: url('/image/m_/500452.png') no-repeat; }
.item_image_500453 { background: url('/image/m_/500453.png') no-repeat; }
.item_image_500454 { background: url('/image/m_/500454.png') no-repeat; }
.item_image_500455 { background: url('/image/m_/500455.png') no-repeat; }
.item_image_500456 { background: url('/image/m_/500456.png') no-repeat; }
.item_image_500457 { background: url('/image/m_/500457.png') no-repeat; }
.item_image_500458 { background: url('/image/m_/500458.png') no-repeat; }
.item_image_500459 { background: url('/image/m_/500459.png') no-repeat; }
.item_image_500460 { background: url('/image/m_/500460.png') no-repeat; }
.item_image_500461 { background: url('/image/m_/500461.png') no-repeat; }
.item_image_500462 { background: url('/image/m_/500462.png') no-repeat; }
.item_image_500463 { background: url('/image/m_/500463.png') no-repeat; }
.item_image_500464 { background: url('/image/m_/500464.png') no-repeat; }
.item_image_500465 { background: url('/image/m_/500465.png') no-repeat; }
.item_image_500466 { background: url('/image/m_/500466.png') no-repeat; }
.item_image_500467 { background: url('/image/m_/500467.png') no-repeat; }
.item_image_500468 { background: url('/image/m_/500468.png') no-repeat; }
.item_image_500469 { background: url('/image/m_/500469.png') no-repeat; }
.item_image_500470 { background: url('/image/m_/500470.png') no-repeat; }
.item_image_500471 { background: url('/image/m_/500471.png') no-repeat; }
.item_image_500472 { background: url('/image/m_/500472.png') no-repeat; }
.item_image_500473 { background: url('/image/m_/500473.png') no-repeat; }
.item_image_500474 { background: url('/image/m_/500474.png') no-repeat; }
.item_image_500475 { background: url('/image/m_/500475.png') no-repeat; }
.item_image_500476 { background: url('/image/m_/500476.png') no-repeat; }
.item_image_500477 { background: url('/image/m_/500477.png') no-repeat; }
.item_image_500478 { background: url('/image/m_/500478.png') no-repeat; }
.item_image_500479 { background: url('/image/m_/500479.png') no-repeat; }
.item_image_500480 { background: url('/image/m_/500480.png') no-repeat; }
.item_image_500481 { background: url('/image/m_/500481.png') no-repeat; }

.item_image_500482 { background: url('/image/m_/500482.png') no-repeat; }
.item_image_500483 { background: url('/image/m_/500483.png') no-repeat; }
.item_image_500484 { background: url('/image/m_/500484.png') no-repeat; }
.item_image_500485 { background: url('/image/m_/500485.png') no-repeat; }
.item_image_500486 { background: url('/image/m_/500486.png') no-repeat; }
.item_image_500487 { background: url('/image/m_/500487.png') no-repeat; }
.item_image_500488 { background: url('/image/m_/500488.png') no-repeat; }
.item_image_500489 { background: url('/image/m_/500489.png') no-repeat; }
.item_image_500490 { background: url('/image/m_/500490.png') no-repeat; }
.item_image_500491 { background: url('/image/m_/500491.png') no-repeat; }
.item_image_500492 { background: url('/image/m_/500492.png') no-repeat; }
.item_image_500493 { background: url('/image/m_/500493.png') no-repeat; }
.item_image_500494 { background: url('/image/m_/500494.png') no-repeat; }

.item_image_500495 { background: url('/image/m_/500495.png') no-repeat; }
.item_image_500496 { background: url('/image/m_/500496.png') no-repeat; }
.item_image_500497 { background: url('/image/m_/500497.png') no-repeat; }
.item_image_500498 { background: url('/image/m_/500498.png') no-repeat; }
.item_image_500499 { background: url('/image/m_/500499.png') no-repeat; }
.item_image_500500 { background: url('/image/m_/500500.png') no-repeat; }

.item_image_500503 { background: url('/image/m_/500503.png') no-repeat; }

.item_image_500503 { background: url('/image/m_/500503.png') no-repeat; }
.item_image_500504 { background: url('/image/m_/500504.png') no-repeat; }
.item_image_500508 { background: url('/image/m_/500508.png') no-repeat; }
.item_image_500509 { background: url('/image/m_/500509.png') no-repeat; }
.item_image_500510 { background: url('/image/m_/500510.png') no-repeat; }

.item_image_500514 { background: url('/image/m_/500514.png') no-repeat; }
.item_image_500515 { background: url('/image/m_/500515.png') no-repeat; }
.item_image_500516 { background: url('/image/m_/500516.png') no-repeat; }
.item_image_500517 { background: url('/image/m_/500517.png') no-repeat; }
.item_image_500518 { background: url('/image/m_/500518.png') no-repeat; }
.item_image_500519 { background: url('/image/m_/500519.png') no-repeat; }
.item_image_500520 { background: url('/image/m_/500520.png') no-repeat; }
.item_image_500521 { background: url('/image/m_/500521.png') no-repeat; }

.item_image_500522 { background: url('/image/m_/500522.png') no-repeat; }

.item_image_500523 { background: url('/image/m_/500523.png') no-repeat; }

.item_image_500524 { background: url('/image/m_/500524.png') no-repeat; }
.item_image_500525 { background: url('/image/m_/500525.png') no-repeat; }
.item_image_500526 { background: url('/image/m_/500526.png') no-repeat; }

.item_image_500527 { background: url('/image/m_/500527.png') no-repeat; }
.item_image_500528 { background: url('/image/m_/500528.png') no-repeat; }
.item_image_500529 { background: url('/image/m_/500529.png') no-repeat; }
.item_image_500530 { background: url('/image/m_/500530.png') no-repeat; }
.item_image_500531 { background: url('/image/m_/500531.png') no-repeat; }
.item_image_500532 { background: url('/image/m_/500532.png') no-repeat; }
.item_image_500533 { background: url('/image/m_/500533.png') no-repeat; }

.item_image_500534 { background: url('/image/m_/500534.png') no-repeat; }
.item_image_500535 { background: url('/image/m_/500535.png') no-repeat; }
.item_image_500536 { background: url('/image/m_/500536.png') no-repeat; }
.item_image_500537 { background: url('/image/m_/500537.png') no-repeat; }
.item_image_500538 { background: url('/image/m_/500538.png') no-repeat; }
.item_image_500539 { background: url('/image/m_/500539.png') no-repeat; }
.item_image_500540 { background: url('/image/m_/500540.png') no-repeat; }
.item_image_500541 { background: url('/image/m_/500541.png') no-repeat; }
.item_image_500542 { background: url('/image/m_/500542.png') no-repeat; }
.item_image_500543 { background: url('/image/m_/500543.png') no-repeat; }
.item_image_500544 { background: url('/image/m_/500544.png') no-repeat; }
.item_image_500545 { background: url('/image/m_/500545.png') no-repeat; }
.item_image_500546 { background: url('/image/m_/500546.png') no-repeat; }
.item_image_500547 { background: url('/image/m_/500547.png') no-repeat; }

.item_image_500548 { background: url('/image/m_/500548.png') no-repeat; }
.item_image_500549 { background: url('/image/m_/500549.png') no-repeat; }
.item_image_500550 { background: url('/image/m_/500550.png') no-repeat; }
.item_image_500551 { background: url('/image/m_/500551.png') no-repeat; }
.item_image_500552 { background: url('/image/m_/500552.png') no-repeat; }

.item_image_500553 { background: url('/image/m_/500553.png') no-repeat; }

.item_image_500554 { background: url('/image/m_/500554.png') no-repeat; }
.item_image_500555 { background: url('/image/m_/500555.png') no-repeat; }
.item_image_500556 { background: url('/image/m_/500556.png') no-repeat; }
.item_image_500557 { background: url('/image/m_/500557.png') no-repeat; }
.item_image_500558 { background: url('/image/m_/500558.png') no-repeat; }

.item_image_500691 { background: url('/image/m_/500691.png') no-repeat; }
.item_image_500692 { background: url('/image/m_/500692.png') no-repeat; }
.item_image_500693 { background: url('/image/m_/500693.png') no-repeat; }

.item_image_500694 { background: url('/image/m_/500694.png') no-repeat; }
.item_image_500695 { background: url('/image/m_/500695.png') no-repeat; }
.item_image_500696 { background: url('/image/m_/500696.png') no-repeat; }
.item_image_500697 { background: url('/image/m_/500697.png') no-repeat; }

.item_image_500698 { background: url('/image/m_/500698.png') no-repeat; }
.item_image_500699 { background: url('/image/m_/500699.png') no-repeat; }
.item_image_500700 { background: url('/image/m_/500700.png') no-repeat; }
.item_image_500701 { background: url('/image/m_/500701.png') no-repeat; }
.item_image_500702 { background: url('/image/m_/500702.png') no-repeat; }
.item_image_500703 { background: url('/image/m_/500703.png') no-repeat; }
.item_image_500704 { background: url('/image/m_/500704.png') no-repeat; }
.item_image_500705 { background: url('/image/m_/500705.png') no-repeat; }

.item_image_500706 { background: url('/image/m_/500706.png') no-repeat; }
.item_image_500707 { background: url('/image/m_/500707.png') no-repeat; }
.item_image_500708 { background: url('/image/m_/500708.png') no-repeat; }

.item_image_500717 { background: url('/image/m_/500717.png') no-repeat; }
.item_image_500718 { background: url('/image/m_/500718.png') no-repeat; }
.item_image_500719 { background: url('/image/m_/500718.png') no-repeat; }
.item_image_500720 { background: url('/image/m_/500718.png') no-repeat; }

.item_image_500721 { background: url('/image/m_/500721.png') no-repeat; }
.item_image_500722 { background: url('/image/m_/500722.png') no-repeat; }
.item_image_500723 { background: url('/image/m_/500723.png') no-repeat; }
.item_image_500724 { background: url('/image/m_/500724.png') no-repeat; }
.item_image_500725 { background: url('/image/m_/500725.png') no-repeat; }
.item_image_500726 { background: url('/image/m_/500726.png') no-repeat; }
.item_image_500727 { background: url('/image/m_/500727.png') no-repeat; }
.item_image_500728 { background: url('/image/m_/500728.png') no-repeat; }
.item_image_500729 { background: url('/image/m_/500729.png') no-repeat; }

.item_image_500731 { background: url('/image/m_/500731.png') no-repeat; }
.item_image_500732 { background: url('/image/m_/500732.png') no-repeat; }

.item_image_500733 { background: url('/image/m_/500733.png') no-repeat; }
.item_image_500734 { background: url('/image/m_/500734.png') no-repeat; }
.item_image_500735 { background: url('/image/m_/500735.png') no-repeat; }
.item_image_500736 { background: url('/image/m_/500736.png') no-repeat; }
.item_image_500737 { background: url('/image/m_/500737.png') no-repeat; }
.item_image_500738 { background: url('/image/m_/500738.png') no-repeat; }

.item_image_500739 { background: url('/image/m_/500739.png') no-repeat; }
.item_image_500740 { background: url('/image/m_/500740.png') no-repeat; }
.item_image_500741 { background: url('/image/m_/500741.png') no-repeat; }
.item_image_500742 { background: url('/image/m_/500742.png') no-repeat; }
.item_image_500743 { background: url('/image/m_/500743.png') no-repeat; }
.item_image_500744 { background: url('/image/m_/500744.png') no-repeat; }

.item_image_500745 { background: url('/image/m_/500718.png') no-repeat; }
.item_image_500746 { background: url('/image/m_/500746.png') no-repeat; }

.item_image_500747 { background: url('/image/m_/500747.png') no-repeat; }
.item_image_500748 { background: url('/image/m_/500748.png') no-repeat; }
.item_image_500749 { background: url('/image/m_/500749.png') no-repeat; }
.item_image_500750 { background: url('/image/m_/500750.png') no-repeat; }

.item_image_500751 { background: url('/image/m_/500751.png') no-repeat; }
.item_image_500752 { background: url('/image/m_/500752.png') no-repeat; }
.item_image_500753 { background: url('/image/m_/500752.png') no-repeat; }

.item_image_500754 { background: url('/image/m_/500754.png') no-repeat; }
.item_image_500755 { background: url('/image/m_/500755.png') no-repeat; }
.item_image_500756 { background: url('/image/m_/500756.png') no-repeat; }
.item_image_500757 { background: url('/image/m_/500757.png') no-repeat; }
.item_image_500758 { background: url('/image/m_/500758.png') no-repeat; }
.item_image_500759 { background: url('/image/m_/500759.png') no-repeat; }
.item_image_500760 { background: url('/image/m_/500760.png') no-repeat; }
.item_image_500761 { background: url('/image/m_/500761.png') no-repeat; }
.item_image_500762 { background: url('/image/m_/500762.png') no-repeat; }
.item_image_500763 { background: url('/image/m_/500763.png') no-repeat; }
.item_image_500764 { background: url('/image/m_/500764.png') no-repeat; }
.item_image_500765 { background: url('/image/m_/500765.png') no-repeat; }
.item_image_500766 { background: url('/image/m_/500766.png') no-repeat; }
.item_image_500767 { background: url('/image/m_/500767.png') no-repeat; }
.item_image_500768 { background: url('/image/m_/500768.png') no-repeat; }

.item_image_500769 { background: url('/image/m_/500769.png') no-repeat; }
.item_image_500770 { background: url('/image/m_/500770.png') no-repeat; }
.item_image_500771 { background: url('/image/m_/500771.png') no-repeat; }
.item_image_500772 { background: url('/image/m_/500772.png') no-repeat; }
.item_image_500773 { background: url('/image/m_/500773.png') no-repeat; }
.item_image_500774 { background: url('/image/m_/500774.png') no-repeat; }
.item_image_500775 { background: url('/image/m_/500775.png') no-repeat; }
.item_image_500776 { background: url('/image/m_/500776.png') no-repeat; }
.item_image_500777 { background: url('/image/m_/500777.png') no-repeat; }
.item_image_500778 { background: url('/image/m_/500778.png') no-repeat; }
.item_image_500779 { background: url('/image/m_/500779.png') no-repeat; }
.item_image_500780 { background: url('/image/m_/500780.png') no-repeat; }
.item_image_500781 { background: url('/image/m_/500781.png') no-repeat; }
.item_image_500782 { background: url('/image/m_/500782.png') no-repeat; }
.item_image_500783 { background: url('/image/m_/500783.png') no-repeat; }
.item_image_500784 { background: url('/image/m_/500784.png') no-repeat; }
.item_image_500785 { background: url('/image/m_/500785.png') no-repeat; }
.item_image_500786 { background: url('/image/m_/500786.png') no-repeat; }

.item_image_500787 { background: url('/image/m_/500787.png') no-repeat; }
.item_image_500788 { background: url('/image/m_/500788.png') no-repeat; }

.item_image_500789 { background: url('/image/m_/500789.png') no-repeat; }

.item_image_500790 { background: url('/image/m_/500790.png') no-repeat; }
.item_image_500791 { background: url('/image/m_/500791.png') no-repeat; }
.item_image_500792 { background: url('/image/m_/500792.png') no-repeat; }
.item_image_500793 { background: url('/image/m_/500793.png') no-repeat; }
.item_image_500794 { background: url('/image/m_/500794.png') no-repeat; }
.item_image_500795 { background: url('/image/m_/500795.png') no-repeat; }
.item_image_500796 { background: url('/image/m_/500796.png') no-repeat; }
.item_image_500797 { background: url('/image/m_/500797.png') no-repeat; }
.item_image_500798 { background: url('/image/m_/500798.png') no-repeat; }
.item_image_500799 { background: url('/image/m_/500799.png') no-repeat; }
.item_image_500800 { background: url('/image/m_/500800.png') no-repeat; }

.item_image_500801 { background: url('/image/m_/500484.png') no-repeat; }
.item_image_500802 { background: url('/image/m_/500802.png') no-repeat; }
.item_image_500803 { background: url('/image/m_/500803.png') no-repeat; }
.item_image_500804 { background: url('/image/m_/500804.png') no-repeat; }
.item_image_500805 { background: url('/image/m_/500805.png') no-repeat; }
.item_image_500806 { background: url('/image/m_/500806.png') no-repeat; }
.item_image_500807 { background: url('/image/m_/500807.png') no-repeat; }
.item_image_500808 { background: url('/image/m_/500808.png') no-repeat; }
.item_image_500809 { background: url('/image/m_/500809.png') no-repeat; }
.item_image_500810 { background: url('/image/m_/500482.png') no-repeat; }
.item_image_500811 { background: url('/image/m_/500483.png') no-repeat; }

.item_image_500812 { background: url('/image/m_/500800.png') no-repeat; }
.item_image_500813 { background: url('/image/m_/500813.png') no-repeat; }
.item_image_500814 { background: url('/image/m_/500814.png') no-repeat; }
.item_image_500815 { background: url('/image/m_/500815.png') no-repeat; }
.item_image_500816 { background: url('/image/m_/500816.png') no-repeat; }

.item_image_500817 { background: url('/image/m_/500817.png') no-repeat; }
.item_image_500818 { background: url('/image/m_/500818.png') no-repeat; }
.item_image_500819 { background: url('/image/m_/500819.png') no-repeat; }
.item_image_500820 { background: url('/image/m_/500820.png') no-repeat; }
.item_image_500821 { background: url('/image/m_/500821.png') no-repeat; }
.item_image_500822 { background: url('/image/m_/500822.png') no-repeat; }

/* 자원 이미지 */
.resource_image_gold { background: url('/image/m_/gold.png') no-repeat; }
.resource_image_food { background: url('/image/m_/food.png') no-repeat; }
.resource_image_horse { background: url('/image/m_/horse.png') no-repeat; }
.resource_image_lumber { background: url('/image/m_/lumber.png') no-repeat; }
.resource_image_iron { background: url('/image/m_/iron.png') no-repeat; }

/* 영향력, 인구, 군주 등급 상승 */
.reward_box_lord_upgrade { background: url('/image/m_/reward_box_lord_upgrade.png') no-repeat; }
.reward_box_population { background: url('/image/m_/reward_box_population.png') no-repeat; }
.reward_box_power { background: url('/image/m_/reward_box_power.png') no-repeat; }