
<!-- div id="qbw_dlg_announce" style="display:none;">
    <div class="dlg_header">
        <div class="dlg_title"><span class="cont_title">공지 및 이벤트</span></div>
        <div class="dlg_header_left"><span id="qbw_btn_announce_close"></span></div>
    </div>
    <div class="dlg_content">
        <div class="cont">

        </div>
    </div>
    <div class="dlg_footer"></div>
</div -->
