<div id="ns_dialog_build_Template">
    <span id="ns_button_build_Template_sub_close"></span>
    <div class="dialog_wrap">
        <div class="dialog_header">
            <div class="dialog_title"><span class="content_title"></span></div>
            <div class="dialog_header_left"><span id="ns_button_build_Template_close"></span></div>
            <div class="dialog_header_right"><span id="ns_button_build_Template_close_all"></span></div>
        </div>
        <div class="dialog_content">
            <div class="content">

            </div>
        </div>
        <div class="dialog_footer"></div>
    </div>
</div>