<div id="ns_dialog_counsel">
    <span id="ns_button_counsel_sub_close"></span>
    <div class="dialog_wrap">
        <div class="dialog_content">
            <div class="content">

                <div class="counsel_wrap ns_panel_flex">
                    <div class="ns_panel_flex_item_auto">
                        <div class="hero_card">
                            <div class="hero_card_pic_small"></div>
                            <div class="hero_card_frame">
                                <div class="hero_card_name"></div>
                                <div class="hero_card_level"></div>
                            </div>
                        </div>
                    </div>
                    <div class="counsel_description">
                    </div>
                </div>
                <div class="counsel_bottom_wrap ns_panel_flex ns_panel_margin_x">
                    <div class="ns_panel_flex_item_auto">
                        <span class="counsel_bottom_description"></span>
                    </div>
                    <div class="ns_panel_flex_right">
                        <span id="ns_button_counsel_ok">{{ i18n.t('ok') }}</span>
                        <span id="ns_button_counsel_close">{{ i18n.t('close') }}</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
