<div id="ns_dialog_hero_skill_box_list">
    <span id="ns_button_hero_skill_box_list_sub_close"></span>
    <div class="dialog_wrap">
        <div class="dialog_header">
            <div class="dialog_pop_header">
                <span id="ns_button_hero_skill_box_list_close"></span>
                <span class="content_pop_title"></span>
            </div>
        </div>
        <div class="dialog_content">
            <div class="content">

                <div class="hero_skill_box_list_wrap">
                </div>

            </div>
        </div>
        <div class="dialog_footer"></div>
    </div>
</div>