<div id="ns_dialog_inquiry">
    <span id="ns_button_inquiry_sub_close"></span>
    <div class="dialog_wrap">
        <div class="dialog_header">
            <div class="dialog_title">
                <span class="content_title">{{ i18n.t('faq') }}</span>
            </div>
            <div class="dialog_header_left"><span id="ns_button_inquiry_close"></span></div>
            <div class="dialog_header_right"><span id="ns_button_inquiry_close_all"></span></div>
        </div>
        <div class="dialog_content">
            <div class="content">

                <div class="ns_panel_tab ns_panel_grid_3">
                    <span id="ns_button_inquiry_tab_faq">FAQ</span>
                    <span id="ns_button_inquiry_tab_write">문의작성</span>
                    <span id="ns_button_inquiry_tab_list">문의내역</span>
                </div>

                <div class="inquiry_faq_wrap ns_panel_margin_xx">
                    <table class="ns_table_common">
                        <tbody>
                        <tr>
                            <td>[게임문의] 강화에 사용된 카드는 돌려받을 수 없나요?</td>
                        </tr>
                        <tr>
                            <td>[게임문의] 강화에 사용된 카드는 돌려받을 수 없나요?</td>
                        </tr>
                        <tr>
                            <td>[게임문의] 강화에 사용된 카드는 돌려받을 수 없나요?</td>
                        </tr>
                        <tr>
                            <td>[게임문의] 강화에 사용된 카드는 돌려받을 수 없나요?</td>
                        </tr>
                        <tr>
                            <td>[게임문의] 강화에 사용된 카드는 돌려받을 수 없나요?</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="inquiry_write_wrap ns_panel_margin_xx">
                    <table class="ns_table_common">
                        <tbody>
                        <tr>
                            <td colspan="2" class="description">제목 (최대 한글 25자 이내)</td>
                        </tr>
                        <tr>
                            <td><span id="ns_button_inquiry_type_select"></span></td>
                            <td><input /></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="description">내용 (최대 한글 500자 이내)</td>
                        </tr>
                        <tr>
                            <td colspan="2"><textarea></textarea></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="inquiry_list_wrap ns_panel_margin_xx">
                    3
                </div>

            </div>
        </div>
        <div class="dialog_footer"></div>
    </div>
</div>
