<div id="ns_dialog_magic_cube">
    <span id="ns_button_magic_cube_sub_close"></span>
    <div class="dialog_wrap">
        <div class="dialog_header">
            <div class="dialog_title">
                <span class="content_title">{{ i18n.t('magic_cube') }}</span>
            </div>
            <div class="dialog_header_left"><span id="ns_button_magic_cube_close"></span></div>
            <div class="dialog_header_right"><span id="ns_button_magic_cube_close_all"></span></div>
        </div>
        <div class="dialog_content">

            <div class="ns_panel_sub_top ns_panel_flex wrapper_sub_top_button">
                <div class="ns_panel_flex_item_auto"><span class="main_notice_icon_event"></span></div>
                <div class="ns_panel_flex_right">
                    <div id="ns_button_magic_cube_cash" class="button_charge_qbig_common">
                        <span class="ns_qbig"></span>
                    </div>
                </div>
            </div>

            <div class="content">

                <div class="ns_panel_trans text_align_center">
                    <div class="magic_cube_description">
                        {{ i18n.t('magic_cube_description') | raw }}
                    </div>
                </div>

                <div class="main_magic_cube_wrap">
                    <span id="ns_button_magic_cube_select_item"></span>
                    <div class="item_list_wrap">
                        <span id="ns_button_magic_cube_item_1"></span>
                        <span id="ns_button_magic_cube_item_2"></span>
                        <span id="ns_button_magic_cube_item_3"></span>
                        <span id="ns_button_magic_cube_item_4"></span>
                        <span id="ns_button_magic_cube_item_5"></span>
                        <span id="ns_button_magic_cube_item_6"></span>
                        <span id="ns_button_magic_cube_item_7"></span>
                        <span id="ns_button_magic_cube_item_8"></span>
                        <span id="ns_button_magic_cube_item_9"></span>
                        <span id="ns_button_magic_cube_item_10"></span>
                        <span id="ns_button_magic_cube_item_11"></span>
                        <span id="ns_button_magic_cube_item_12"></span>
                        <span id="ns_button_magic_cube_item_13"></span>
                        <span id="ns_button_magic_cube_item_14"></span>
                        <span id="ns_button_magic_cube_item_15"></span>
                        <span id="ns_button_magic_cube_item_16"></span>
                    </div>
                    <span id="ns_button_magic_cube_start">{{ i18n.t('start') }}</span>
                    <div class="item_amount"><span>{{ i18n.t('item_title_500061') }} :</span> <span class="own_item_count">0</span></div>
                    <div class="double_chance"></div>
                </div>

            </div>
        </div>
        <div class="dialog_footer"></div>
    </div>
</div>

