
<div id="qbw_dlg_salary" style="display:none;">
    <div class="dlg_header">
        <div id="qbw_btn_salary_close"></div>
        <span class="cont_pop_title"></span>
    </div>
    <div class="dlg_content">
        <div class="cont">

            <div class="cont_side_pattern_bg">
                <div class="cont_salary_before">
                    <div class="cont_salary_text1">전체 영웅의 보수 : 황금 <span class="cont_salary"></span></div>
                    <div class="cont_salary_text2">금일 영웅 급여를 지급 하시겠습니까?</div>
                    <div class="hr_division_message"></div>
                    <div class="cont_salary_text3">Tip : 영웅들에게 매일 급여를 지급하는<br />것은 매우 힘든 일이지만 급여 지급 시<br />많은 양의 기술 경험치를 획득할 수 있습니다.<br />등용한 영웅들에게 급여를 지급하십시오.</div>
                </div>
                <div class="cont_salary_after">
                    <div class="cont_salary_text4">급여 지급이 완료 되었습니다.</div>
                    <div class="cont_salary_text2">'매일매일 급여지급' 퀘스트를 완료하셔서<br />보상을 지급 받을 수 있습니다.<br /> 퀘스트 창을 열어 보상을 수령해 주십시오.</div>
                    <div class="hr_division_message"></div>
                    <div class="cont_salary_text3">Tip : 영웅들에게 매일 급여를 지급하는<br />것은 매우 힘든 일이지만 급여 지급 시<br />많은 양의 기술 경험치를 획득할 수 있습니다.</div>
                </div>
                <div class="qbwpan_pop_btn">
                    <span id="qbw_btn_salary_submit">급여 지급</span>
                    <span id="qbw_btn_salary_close2">닫기</span>
                </div>
            </div>

        </div>
    </div>
    <div class="dlg_footer"></div>
</div>

<!--


 -->

