<div id="ns_dialog_valley_manage">
    <span id="ns_button_valley_manage_sub_close"></span>
    <div class="dialog_wrap">
        <div class="dialog_header">
            <div class="dialog_title">
                <span class="content_title">{{ i18n.t('external_valley_manage') }}</span>
            </div>
            <div class="dialog_header_left"><span id="ns_button_valley_manage_close"></span></div>
            <div class="dialog_header_right"><span id="ns_button_valley_manage_close_all"></span></div>
        </div>

        <div class="dialog_content">

            <div class="content">

                <div class="ns_panel_margin_yy">
                    <p class="ns_panel_heavy ns_panel_margin_10 text_align_center valley_manage_description"></p>
                </div>

                <div class="valley_list ns_panel_margin_xx">
                </div>

            </div>

        </div>
        <div class="dialog_footer"></div>
    </div>
</div>
