@CHARSET "UTF-8";

#search_log {
    width: 100%;
    height: 100%;
    grid-area: e;
}

#search_log_add {
    width: 100%;
    height: 100%;
    grid-area: f;
}

.log_search_box {
    display: grid;
    grid-gap: 5px;
    grid-template: "a b c e f" auto
                   "d d d e f" auto / 2fr 2fr 2fr .5fr .5fr;
    margin: 10px 0;
    align-items: center;
}

fieldset.search_box {
    padding: 7px;
}

fieldset.search_box:nth-child(1) {
    grid-area: a;
}

fieldset.search_box:nth-child(2) {
    grid-area: b;
}

fieldset.search_box:nth-child(3) {
    grid-area: c;
}

fieldset.search_box:nth-child(4) {
    grid-area: d;
}

.log_checkbox {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.log_checkbox li {
    list-style: none;
}

.log_description {
    padding: 8px;
    background-color: #c0c0c0;
    border: 1px solid #eee;
    font-weight: bold;
    text-align: center;
}

/* Log 용 테이블 */
#search_result table {
    margin: auto;
    width: 100%;
    border-collapse: collapse;
}

#search_result table th {
    border-top: none;
    background: #428bca;
    color: #fff;
}

#search_result table tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #f5f9fc;
}

#search_result table td:first-child {
    margin-top: .5em;
}

#search_result table td:last-child {
    margin-bottom: .5em;
}

#search_result table td:before {
    font-weight: bold;
    width: 120px;
    display: inline-block;
    color: #000;
}

#search_result table th,
#search_result table td {
    text-align: center;
}

#search_result table {
    color: #333;
    border-radius: .4em;
    overflow: hidden;
}

#search_result table tr {
    border-color: #bfbfbf;
}

#search_result table tbody tr:hover {
    background-color: #bfbfbf;
}

#search_result table th,
#search_result table td {
    padding: .5em 1em;
}

.hide {
    display: none !important;
    pointer-events: none !important;
}

.text_red {
    color: red;
}

.text_green {
    color: green;
}

#content_json_info,
#scout_json_info {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100000;
}

#content_json_info .background,
#scout_json_info .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    z-index: 1;
}

#content_json_info > .cover,
#scout_json_info > .cover {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 20px auto;
    width: 80vw;
    height: 80vh;
    padding: 20px;
    background-color: #ffffff;
    overflow: scroll;
    z-index: 2;
}

#content_json_info > .cover > table,
#scout_json_info > .cover > table {
    width: 100%;
    text-align:center;
    border-collapse:collapse;
    border : 1px solid #000;
    table-layout:fixed;
}

#search_hero_result {
    width: 600px;
}

#search_hero_result * {
    padding: 0;
    margin: 0;
}

#search_hero_result .result_hero_image {
    width: 100px;
}

#search_hero_result table .title {
    background: #428bca;
    color: #fff;
    text-align: center;
}

#search_hero_result table {
    margin: 10px auto;
    border-collapse: collapse;
    border: 1px solid #000;
}

#search_hero_result table td {
    width: 100px;
    margin: auto;
    border: 1px solid #000;
    padding: 5px;
}

#limit_block_date {
    padding: 5px;
    font-size: 1rem;
}

#blocked_cause {
    width: 80%;
    height: 150px;
}