<h2>[ {{ _SESSION['selected_lord']['lord_name'] }} ] 동맹 현황</h2>
<hr />
<div id="alliance_info_wrap">

</div>
<br />
<div id="alliance_buttons">
	<hr />
	<input type="hidden" id="gm_alli_pk" value="" />
	<button id="alli_info1">동맹원</button>
	<button id="alli_info2">가입현황</button>
	<button id="alli_info3">외교관계</button>
	<button id="alli_info4">동맹 로그</button>
	<button id="alli_info5">전투 로그</button>
	<hr />
</div>

<div id="search_result" style="z-index:98;">
</div>