<h2>[ {{ _SESSION['selected_lord']['lord_name'] }} ] 진행 중인 퀘스트</h2>
<hr />

<table id="lord_own_quest_progress" class="jqGridTable">
</table>
<div id="pager_lord_own_quest_progress"></div>

<div id="quest_modify_form" title="퀘스트 상태 변경">
	<h3>퀘스트명</h3>
	<hr />
	<div id="selected_quest_title"></div>
	<br />
	<h3>퀘스트 보상</h3>
	<hr />
	<div id="selected_quest_reward"></div>
	<br />
	<h3>변경 사유</h3>
	<hr />
	<div>
		<textarea id="cause" style="width:100%"></textarea>
	</div>
</div>