
<h2>[ {{ _SESSION['selected_lord']['lord_name'] }} ] 퀘스트 현황</h2>
<hr />
<br />
<br />
<button id="my_quest_btn1">일반 퀘스트</button> <button id="my_quest_btn2">제작 퀘스트</button> <button id="my_quest_btn3">완료 퀘스트</button>
<hr />
※ 완료 퀘스트는 클리어는 했지만 이전 퀘스트를 클리어하지 않아 실제로 목록에는 표시되지 않는 퀘스트입니다.
<br />

<div id="search_result" style="z-index:98;">
</div>

<script type="text/javascript" src="/tools/js/page/lord_own_quest.js"></script>