<h2>GM 서신 발신함</h2>
<hr />
<table id="letter_list" class="jqGridTable">
</table>
<div id="pager_letter_list"></div>

<style type="text/css">
#view_letter table { table-layout:fixed; border-collapse:collapse; border:1px solid #000; width:100%; text-align:center; }
#view_letter th, #view_letter td { border : 1px solid #000; padding:.4em; }
#view_letter th { width:8em; }
#view_letter td { text-align: left; }
</style>

<div id="view_letter" title="서신 상세 보기">
<table style="">
  <tbody>
    <tr>
      <th>수신</th>
      <td><p class="user"></p></td>
    </tr>
    <tr>
      <th>제목</th>
      <td><p class="subject"></p></td>
    </tr>
    <tr>
      <th>내용</th>
      <td><p class="content"></p></td>
    </tr>
  </tbody>
</table>
</div>