<style>
    button {
        padding: 20px;
    }
</style>
<h2>일일 통계 조회</h2>
<hr />

<label for="date">조회일</label> <input id="date" placeholder="0000-00-00" /><br /><br />

<button id="dau_export">DAU 통계</button>
<button id="nru_export">NRU 통계</button>
<button id="paid_export">Paid Users 통계</button>
<button id="lord_export">전체 군주 수 (누적)</button>
<button id="level_export">군주 등급 분포 (누적)</button>
<button id="build_export">대전 레벨 분포 (누적)</button>