
<h2>[ {{ _SESSION['selected_terr']['title'] }} ] 영지 보유 외부 자원지 현황</h2>
<hr />
<div class="ui-jqgrid ui-widget ui-widget-content ui-corner-all" id="gbox_lord_own_terr_list" dir="ltr" style="width: 100%; ">
	<div class="ui-jqgrid-view" id="gview_lord_own_terr_list" style="width: 100%; ">
		<div class="ui-jqgrid-titlebar ui-widget-header ui-corner-top ui-helper-clearfix">
			<span class="ui-jqgrid-title">영지 보유 외부 자원지 현황</span>
		</div>
		<div class="ui-jqgrid-bdiv" style="width: 100%; ">
			<div style="position:relative;">
				<div></div>
				<table id="lord_own_terr_list" style="width: 100%; table-layout:fixed;" class="jqGridTable ui-jqgrid-btable" cellSpacing="0" cellPadding="0" border="0">
					<thead>
					<tr class="ui-jqgrid-labels">
						<th class="ui-state-default ui-th-column ui-th-ltr" style="width:180px;">자원지 좌표</th>
						<th class="ui-state-default ui-th-column ui-th-ltr" style="width:80px;">자원지 형태</th>
						<th class="ui-state-default ui-th-column ui-th-ltr" style="width:50px;">레벨</th>
						<th class="ui-state-default ui-th-column ui-th-ltr" style="width:133px;">점령 시간</th>
						<th class="ui-state-default ui-th-column ui-th-ltr">식량 증가량</th>
						<th class="ui-state-default ui-th-column ui-th-ltr">우마 증가량</th>
						<th class="ui-state-default ui-th-column ui-th-ltr">목재 증가량</th>
						<th class="ui-state-default ui-th-column ui-th-ltr">철강 증가량</th>
					</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>