
<h2>[ {{ _SESSION['selected_terr']['title'] }} ] 영지 보유 건물 현황</h2>
<hr />
<div class="ui-jqgrid ui-widget ui-widget-content ui-corner-all" id="gbox_in_castle_building_list" dir="ltr" style="width: 100%; ">
	<div class="ui-jqgrid-view" id="gview_in_castle_building_list" style="width: 100%; ">
		<div class="ui-jqgrid-titlebar ui-widget-header ui-corner-top ui-helper-clearfix">
			<span class="ui-jqgrid-title">내성 건물 현황</span>
		</div>
		<div class="ui-jqgrid-bdiv" style="height : 250px; width: 100%; ">
			<div style="position:relative;">
				<div></div>
				<table id="in_castle_building_list" style="width: 651px; table-layout:fixed;" class="jqGridTable ui-jqgrid-btable" cellSpacing="0" cellPadding="0" border="0">
					<thead>
					<tr class="ui-jqgrid-labels">
						<th class="ui-state-default ui-th-column ui-th-ltr">건물명</th>
						<th class="ui-state-default ui-th-column ui-th-ltr">레벨</th>
						<th class="ui-state-default ui-th-column ui-th-ltr">위치</th>
						<th class="ui-state-default ui-th-column ui-th-ltr">상태</th>
					</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<br/>
<div class="ui-jqgrid ui-widget ui-widget-content ui-corner-all" id="gbox_out_castle_building_list" dir="ltr" style="width: 100%; ">
	<div class="ui-jqgrid-view" id="gview_out_castle_building_list" style="width: 100%; ">
		<div class="ui-jqgrid-titlebar ui-widget-header ui-corner-top ui-helper-clearfix">
			<span class="ui-jqgrid-title">외성 건물 현황</span>
		</div>
		<div class="ui-jqgrid-bdiv" style="height : 250px; width: 100%; ">
			<div style="position:relative;">
				<div></div>
				<table id="out_castle_building_list" style="width: 651px; table-layout:fixed;" class="jqGridTable ui-jqgrid-btable" cellSpacing="0" cellPadding="0" border="0">
					<thead>
					<tr class="ui-jqgrid-labels">
						<th class="ui-state-default ui-th-column ui-th-ltr">건물명</th>
						<th class="ui-state-default ui-th-column ui-th-ltr">레벨</th>
						<th class="ui-state-default ui-th-column ui-th-ltr">위치</th>
						<th class="ui-state-default ui-th-column ui-th-ltr">상태</th>
					</tr>
					</thead>
					<tbody>
				</table>
			</div>
		</div>
	</div>
</div>