<h2>[ {{ _SESSION['selected_terr']['title'] }} ] 영지로 접근 중인 부대</h2>
<hr />
<div class="ui-jqgrid ui-widget ui-widget-content ui-corner-all" id="gbox_lord_own_terr_list" dir="ltr" style="width: 100%; ">
	<div class="ui-jqgrid-view" id="gview_lord_own_terr_list" style="width: 100%; ">
		<div class="ui-jqgrid-titlebar ui-widget-header ui-corner-top ui-helper-clearfix">
			<span class="ui-jqgrid-title">접근 중인 부대 현황</span>
		</div>
		<div class="ui-jqgrid-bdiv" style="width: 100%; ">
			<div style="position:relative;">
				<div></div>
				<table id="lord_own_terr_list" style="width: 100%; table-layout:fixed;" class="jqGridTable ui-jqgrid-btable" cellSpacing="0" cellPadding="0" border="0">
					<thead>
						<tr class="ui-jqgrid-labels">
							<th class="ui-state-default ui-th-column ui-th-ltr" style="width:80px;">번호</th>
							<th class="ui-state-default ui-th-column ui-th-ltr" style="width:80px;">공격군주</th>
							<th class="ui-state-default ui-th-column ui-th-ltr" style="width:180px;">출발영지정보</th>
							<th class="ui-state-default ui-th-column ui-th-ltr" style="width:180px;">도착영지정보</th>
							<th class="ui-state-default ui-th-column ui-th-ltr" style="width:80px;">숙영시간</th>
							<th class="ui-state-default ui-th-column ui-th-ltr" style="width:180px;">출발시간</th>
							<th class="ui-state-default ui-th-column ui-th-ltr" style="width:180px;">도착시간</th>
							<th class="ui-state-default ui-th-column ui-th-ltr" style="">기타</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>