<h2>상단 공지</h2>
<hr />
<table id="top_notice_list" class="jqGridTable">
</table>
<div id="pager_top_notice_list"></div>

<div id="write_top_notice_form" title="서신 내용 작성">
	<div>
		<div>
			<div style="width:60px;float:left;text-align:right;font-weight:bold;padding-right:12px;">공지 내용</div>
			<div><input type="text" id="top_notice_title" style="width:278px;" /></div>
			<div style="clear:both;"></div>
		</div>
		<div style="margin-top:6px;">
			<div style="width:60px;float:left;text-align:right;font-weight:bold;padding-right:12px;">링크 주소</div>
			<div><input type="text" id="top_notice_content" style="width:278px;" /></div>
			<div style="clear:both;"></div>
		</div>
		<div style="margin-top:6px;">
			<div style="width:60px;float:left;text-align:right;font-weight:bold;padding-right:12px;">공지 시작</div>
			<div><input type="text" id="top_notice_start_dt" /></div>
			<div style="clear:both;"></div>
		</div>
		<div style="margin-top:6px;">
			<div style="width:60px;float:left;text-align:right;font-weight:bold;padding-right:12px;">공지 종료</div>
			<div><input type="text" id="top_notice_end_dt" /></div>
			<div style="clear:both;"></div>
		</div>
		<div style="margin-top:6px;">
			<div style="width:60px;float:left;text-align:right;font-weight:bold;padding-right:12px;">순번</div>
			<div><input type="text" id="top_notice_ordernum" style="width:278px;" /></div>
			<div style="clear:both;"></div>
		</div>
	</div>
</div>

<br/>

<div style="text-align:right;">
	<button id="write_top_notice_btn" style="padding:0.4em">공지 작성</button>
	<button id="modify_top_notice_btn" style="padding:0.4em">공지 수정</button>
	<button id="delete_top_notice_btn" style="padding:0.4em">공지 삭제</button>
</div>