@charset "utf-8";

#ns_dialog_my_item {

}

#ns_dialog_my_item .wrapper_sub_top_button {
    padding-left: 5px;
    padding-right: 5px;
}

#ns_dialog_my_item .ns_panel_tab {
    position: relative;
    top: -2px;
}

#ns_dialog_my_item .ns_panel_build_button_right {
    right: 0;
}

#ns_dialog_my_item .content_item_list_wrap {
    width: 320px;
    margin: 10px auto;
}

#ns_dialog_my_item .item_image {
    position: absolute;
    top: 33px;
    left: 13px;
}

#ns_dialog_my_item .item_price {
    display: none;
}
